* {
    font-family: poppins;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
}

.form-container {
    display: flex;
    width: 700px;
    height: 500px;
    background-color: #3763D4;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    position: absolute;
    transition: 0.5s ease-out;
    display: none;
}

.login-header {
    color: #fff;
}

.login-header h1 {
    text-align: center;
    margin: 0;
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
}

.login-header p {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

.input-wrapper input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
    width: 300px;
    height: 30px;
    font-family: poppins;
}

.input-wrapper input::placeholder {
    font-size: 15px;
    font-weight: 600;
    color: #6C6C6C;
    opacity: 50%;
}

.input-wrapper svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #6C6C6C;
}

.forgot-pass {
    color: #fff;
    text-align: right;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
}

.forgot-pass:hover {
    text-decoration: underline;
    color: #d1d1d1;
}

.login-btn {
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    color: #323232;
    font-size: 18px;
    font-weight: 800;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-btn:hover {
    background-color: #d1d1d1;
}

.other-login h2 {
    color: #fff;
    opacity: 50%;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

.google-login, .phone-login, .id-login {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    font-size: 13px;
    font-weight: 400;
    padding-left: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.google-login {
    margin-top: 15px;
}

.phone-login, .id-login {
    margin-top: 10px;
}

.google-login:hover,
.phone-login:hover,
.id-login:hover {
    background-color: #d1d1d1;
}

.policy-section {
    display: flex;
    gap: 50px;
    margin-top: 22px;
}

.privacy-policy, .service-policy, .cookie-policy {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    transition: 0.3s ease;
}

.privacy-policy:hover, 
.service-policy:hover, 
.cookie-policy:hover {
    text-decoration: underline;
    color: #d1d1d1;
}

.signup-section {
    background-color: #fff;
    border-radius: 20px;
    width: 500px;
    height: 100%;
    position: absolute;
    right: 0;
    transform: translateX(50%);
    display: flex;
    transition: 1s ease-in-out;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    transition: 0.5s ease-out;
    display: none;
}

.pipihub-logo {
    width: 50px;
    margin-top: 20px;
}

.heading-text {
    font-size: 16px;
    color: #323232;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 0;
}

.heading-text span {
    font-size: 24px;
}

.man-img {
    width: 56px;
    height: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.welcome-content p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.sign-toggle {
    font-size: 11px;
    font-weight: 600;
    color: #3763D4;
    width: 65px;
    height: 32px;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #3763D4;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.sign-toggle:hover {
    color: #fff;
    background-color: #3763D4;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 65px;
}

.dropdown button {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background-color: #3763D4;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
}

.dropdown button img {
    width: 20px;
    height: 15px;
    margin-right: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.dropdown-content img {
    width: 20px;
    height: 15px;
    margin-right: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sign-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
   position: absolute;
   right: 0;
   opacity: 0;
   transition: 1.5s ease;
   transition-delay: 1s;
}

.sign-header {
    color: #fff;
}

.login-header h1 {
    text-align: center;
    margin: 0;
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
}

.login-header p {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

.input-wrapper input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
    width: 300px;
    height: 30px;
    font-family: poppins;
}

.input-wrapper input::placeholder {
    font-size: 15px;
    font-weight: 600;
    color: #6C6C6C;
    opacity: 50%;
}

